/* ================================== OVERLAY ================================== */

.home-overlay {
  width: 100%;
  height: calc(100vh - var(--body-mt));
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  z-index: 100;
  pointer-events: none;
  transition: all 500ms cubic-bezier(1, 0, 0, 1) 0ms;
}

.home-overlay-hidden {
  opacity: 0;
  visibility: hidden;
}

.home-btn {
  margin-top: 1rem;
  font-family: var(--sans-serif-font);
  width: 100%;
  max-width: 250px;
  background-color: var(--main-color-txt);
  color: var(--main-color);
  padding: 1.25rem 0;
  border-radius: 100px;
  font-size: 1rem;
  letter-spacing: 1px;
  pointer-events: all;
}

.home-btn:hover {
  background-color: var(--main-color-txt-hover);
}

/* ================================== MEDIA QUERIES ================================== */

@media screen and (max-width: 768px) {
  .home-btn {
    max-width: 225px;
    padding: 1.1rem 0;
  }
}

@media screen and (max-width: 500px) {
  .home-btn {
    max-width: 200px;
    padding: 1rem 0;
    font-size: 0.95rem;
  }
}
